/* CSSs Album */

.album-title {
	font-weight: bold;
	font-size: 135%;
	line-height: 20px;	
	color: #5587bb;
	padding-left: 50px;
}

.album_table { 
	border-color: #dde5fd;
	background-color: #fff;
	border-style: solid;
	border-right-width:1px;
	padding: 6px; 
	color: #000;
}

A.album_link { 
	color: #666666;
	line-height: 14px;
}

A.album_link:hover{ 
	color: #dde5fd;
}
