@CHARSET "UTF-8";
/* CSS Document */

/*** The Essential Code ***/
* {
	padding:0; 
	margin:0;
}

body {
	border-left: solid 9px #00A3BA;
	font-size: 13px;
	font-family: Arial, Helvetica, sans;
	background-position: 9px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:0.2em 3%; }
a:link, a:visited, a:hover { text-decoration: none; }
fieldset { padding: 0.3em; }
img { border: none; }

/*** header ***/
#header {
	font-size: 140%;
	border-bottom: solid 9px #ECF3F3;
	background: #E8E4E1 url(../images/back_header.png) 185px 0 no-repeat; 			
} 

#header .menu{
	text-align: left;
	margin-left: 185px;
	padding-top: 5px;
	background:#92C7D4 url(../images/back_menu.png) repeat-x bottom;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	color:#fff;
} 

#header .amadis-logo{
	margin-left: 215px;
	padding: 0;
	height: 68px;
	background: transparent url(../images/pt-br/logo_amadis.png) no-repeat;
	width: 240px;
	height: 68px;
} 
	
#header .peca-logo { 
	position: absolute;
  	left: 0px;
	top: 0px;
	background: transparent url(../images/pecas.png) no-repeat;
	width: 215px;
	height: 172px;
}

/*** SIDEBAR ***/
#side-bar {
	background: #F9F9F7 url(../images/back_topleft.png) no-repeat;
	width: 183px;
	margin-top: 68px;
	margin-left: 2px;
	padding-top: 10px;
	float:left;
	display: inline;
}

/*** CONTENT ***/
#global-wrapper { 
	border-right: solid 10px #ECF3F3; 
	background: #FFF url(../images/bg_menu.png) repeat-y;
}

#container {
	display: inline;
	padding: 30px 50px 0 60px;
	margin: -100px;
}

#container .column {
	background: transparent url(../images/bg_menu.png) repeat-y;
	text-align: justify;
}

#center {
	padding: 0px 20px;
	padding-left: 210px;

}

#dashed-line { 
  border-top: dotted 1px #CCC; 
}

/** FOOTER **/		
#footer {
	clear: both;
	font-size: 80%;
	text-align: center;
	padding: 0.3em 0;
	background: #D5E5E5;
}
		
#footer-wrapper {
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
}

/*** MAIN-MENU ***/
.menufont {
	font: 65% lucida sans, sans-serif;
	font-weight: bold;
	color: #FFF; 
	margin-left: 35px;
}
		
.menufont li {
	display:inline;
	list-style-type: none;
	border-left: 1px white solid;
	padding: 7px 7px 4px 7px;
	margin: 0px;
}

.menufont a:link, .menufont a:active, .menufont a:visited {
	color: #FFFFFF; 
	text-decoration: none;	
	margin-right: -5px;
}

.menufont li:hover , .menu li a:hover {
	color: #666;
	background: url(../images/back_li_ms.gif) repeat-x;
}

/** titles **/
h1 {
	font-size: 200%;
	font-weight: bold;
}

/* AMADIS LOGIN BEGIN */ 
/* Login Container */
#frame {
	width: 172px;
}

#loginTopBorder {
	background: url(../images/boxsuperior.gif) repeat-x;
	height: 12px;
}

#loginBottomBorder {
	background: url(../images/boxinferior.gif) repeat-x;
	height: 12px;
}

#loginContent {
	background: #fff0f2;
	border-right: 1px;
	border-left: 1px;
	border-style: solid;
	border-color: #f7e4e6;
	overflow: hidden;
}

#loginContent ul {
	list-style-type: none;
}

#loginContent ul li {
	margin-left: 13px;
	margin-bottom: 3px;
}

#loginContentImage {
	background: url(../images/ico_peca.png) no-repeat;
	height: 25px;
	text-indent: 20px;
	color: #007d9c;
}

#loginStatus {
	text-align: right;
	margin-right: 15px;
	height: 25px;
}

#loginStatusSelect {
	width: 140px;
	font-size: 90%;
}

#loginExit {
	color: #fff0f2;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
}

#loginOut {
	background: #948ab5;
	display: inline;
	color: #fff0f2;
	font-size: 95%;
}

#loginOutLeftImage {
	background: url(../images/leftOut.gif) no-repeat bottom right;
	height: 17px;
	width: 7px;
	display: inline;
}

#loginOutRightImage {
	background: url(../images/rightOut.gif) no-repeat bottom left;
	height: 17px;
	width: 7px;
	display: inline;
}

/* AMADIS LOGIN END */ 


/* AMADIS INIT LOGIN BEGIN */
/* Init Login Container */
#loginInit {
	width: 172px;
}

#loginInitTopBorder {
	background: url(../images/boxsuperior.gif) repeat-x;
	height: 12px;
}

#loginInitBottomBorder {
	background: url(../images/boxinferior.gif) repeat-x;
	height: 12px;
}

#loginInitContent {
	background: #fff5f6;
	border: solid 1px #EEE3E4;
	border-top: none;
	border-bottom: none;
	overflow: hidden;
}

#loginInitContent input {
	border-style: solid;
	border-right: 1px;
	border-bottom: 1px;
	border-color: #DDD;
	width: 87%;
	height: 18px;
}


#loginInitContent ul {
	list-style-type: none;
}

#loginInitContent ul li {
	margin-left: 13px;
	margin-bottom: 3px;
	color: #636563;
}

#loginInitContentImage {
	background: url(../images/ico_peca.png) no-repeat;
	height: 25px;
	text-indent: 20px;
	color: #007d9c;
	font-weight: bold;
}

#loginInitLog {
	/*background: #b569ad;*/
	display: inline;
	color: #fff0f2;
	height: 14px;
}

#loginInitLeftImage {
	background: url(../images/leftLog.gif) no-repeat bottom right;
	height: 17px;
	width: 7px;
	display: inline;
}

#loginInitRightImage {
	background: url(../images/rightLog.gif) no-repeat bottom left;
	height: 17px;
	width: 7px;
	display: inline;
}

/* AMADIS INIT LOGIN END */ 

#logout_button {
	border: none;
	background: transparent url(../images/login_button.gif) no-repeat;
	width: 66px;
	height: 19px;
	margin-top: 10px;
	padding-bottom: 1px;
}

/* AMADIS MENU BEGIN */ 
/* Menu Container */
#menubox {
	width: 172px;
	margin-left: 5px;
}

/* Menu Head */
#menuTop {
	background: #b4e3eb;
	height: 100%;
}

/* Puzzle piece in the top of menu head */
#my {
	background: url(images/puzzle.gif) no-repeat;
	margin-left: 10px;
	line-height: 25px;
	padding-left: 28px; /* Espaçamento do texto a esquerda */
	font-family: Tahoma, Helvetica, sans-serif;
	color: #008CAF;
}

/* Top roundcorner of menu head */
#imageTop {
	height: 12px;
	background: url(images/topborder.gif) no-repeat;
}

/* Menu list items */
#menu {
	background: #e5f3f6 url(images/back_degrademl.png) repeat-x;
	border: solid 1px #b4e3eb;
}

/* Menu list : general properties - NO bullets! */
#menu ul {
	list-style: none;
	color: #008CAF;
	width: 170px;
	position: relative;
	right: 5px;
}

#menu ul a {
	text-decoration: none;
	color: #008CAF;
}

#menu ul .webfolio_txt  a:hover {
	color: #426def;
}
#menu ul .webfolio_txt_active  a {
	color: #426def;
}

#menu ul .blog_txt  a:hover {
	color: #8b4adb;
}
#menu ul .blog_txt_active  a {
	color: #8b4adb;
}

#menu ul .lib_txt  a:hover {
	color: #ae7fde;   
}
#menu ul .lib_txt_active  a {
	color: #ae7fde;   
}

#menu ul .project_txt a:hover {
	color: #009ac6;
}
#menu ul .project_txt_active a {
	color: #009ac6;
}

#menu ul .friends_txt a:hover {
	color: #ce0000;
}
#menu ul .friends_txt_active a {
	color: #ce0000;
}

#menu ul .communities_txt a:hover {
	color: #9c9a63;
}
#menu ul .communities_txt_active a {
	color: #9c9a63;
}

/* Menu itens : general properties */
#menu ul li {
	background: url(images/lineml.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	padding-top: 18px;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

#menu ul li:hover {
	background: url(images/back_li_ml.gif) transparent repeat;	
}

/* Submenu list : properties inherited from Menu and added specific ones */
#menu ul li ul {
	margin: 0px;
	border-bottom: 0px;
}

/* Submenu itens : specific properties */
#menu ul li ul li {
	background: none;
	margin: 0px;
	padding: 5px 0px 0px 15px;
}

/* Botton roundcorner of menu*/
#menuBottom {
	width: 172px;
	height: 22px;
	background: url(images/bottomborder.gif);
}

/* AMADIS MENU END */ 



/* GENERAL */
.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}

.textobox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #666666;
	left: 5px;
	position: relative;
}

.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #666666;
}

a.blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #3466D1;
	text-decoration: underline;
}

a.green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #009999;
	text-decoration: underline;
}

/* link box - marrom */
a.marrom:link {
	text-decoration: none;
	color: #CC9966;
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	position: relative;
}

a.marrom:visited {
	text-decoration: none;
	color: #CC9966;
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	position: relative;
}

/* CSSs referentes ao Upload */
.titupload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #2171B6;
}

.imgtitupload {
	width: 70px;
	border: thin solid #2171B6;
	margin-left: 12px;
}

.subtitupload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
}

.cursor {
	cursor: pointer;
}

#notification_area {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 50px;
}

a.marrom:active {
	text-decoration: none;
	color: #CC9966;
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	position: relative;
}

a.marrom:hover {
	text-decoration: underline;
	color: #CC9966;
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	position: relative;
}

a.cinza:link {
	font-size: 11px;
	line-height: 20px;
	position: relative;
	text-decoration: none;
	color: #666666;
	font-family: Arial;
}

a.cinza:visited {
	font-size: 11px;
	line-height: 20px;
	position: relative;
	text-decoration: none;
	color: #666666;
	font-family: Arial;
}

a.cinza:active {
	font-size: 11px;
	line-height: 20px;
	position: relative;
	text-decoration: none;
	color: #666666;
	font-family: Arial;
}

a.cinza:hover {
	font-size: 11px;
	line-height: 20px;
	position: relative;
	text-decoration: underline;
	color: #366666;
	font-family: Arial;
}

.persona_03 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #E1F7F9;
	background-color: #FFCB27;
	padding: 7px;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.persona_04 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #E1F7F9;
	background-color: #FFEE5E;
	padding: 7px;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.persona_05 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #E1F7F9;
	background-color: #FFEE5E;
	padding: 7px;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.persona_06 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #E1F7F9;
	background-color: #FAF8FA;
	padding: 7px;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.message {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}

.mnlateral {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #007FA0;
	left: 3px;
	position: relative;
}

.progress_realcado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #19669E;
	font-weight: bold;
}

.txttitproj {
	font-family: Arial, Helvica, sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: #80BAC9;
}

.progress_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #6BB9F2;
	font-weight: bold;
}

.admin_items {
	/* background-color: #E2F6FF; QUANDO TIVER COM O MOUSE EM CIMA*/
	background-color: #FFFCFC;
	border: 2px #71A4AF solid;
	height: 48px;
	width: 48px;
	text-align: center;
}