#cad-box { 
	width: 99%;
}
#cad-box .border-top { height: 33px;}
#cad-box .border-top-left { height: 33px;}
#cad-box .border-top-right { height: 33px; }
#cad-box .border-bottom { height: 33px; }
#cad-box .border-bottom-left { height: 33px; }
#cad-box .border-bottom-right { height: 33px; }



#cad-box .content { 
	padding: 5px;
}

.cad-box-cols-sides { background-repeat: repeat-y; }
.cad-box-cols-top { background-repeat: repeat-x; }

/*  THEMES */
.cad-box-default {
	background-color: #fafcfe;
}

#cad-box.cad-box-webfolio .border-top { background: url(../images/box_cadwebfolio_bgtop.gif) repeat-x top left; }
#cad-box.cad-box-webfolio .border-top-left { background: url(../images/box_cadwebfolio_01.gif) no-repeat top left; }
#cad-box.cad-box-webfolio .border-top-right { background: transparent url(../images/box_cadwebfolio_02.gif) no-repeat top right; }
#cad-box.cad-box-webfolio .border-bottom { background: transparent url(../images/box_cadwebfolio_bgbottom.gif) repeat-x bottom left; }
#cad-box.cad-box-webfolio .border-bottom-left { background: transparent url(../images/box_cadwebfolio_03.gif) no-repeat bottom left; }
#cad-box.cad-box-webfolio .border-bottom-right { background: transparent url(../images/../images/box_cadwebfolio_04.gif) no-repeat bottom right; }
#cad-box.cad-box-webfolio .content { 
	background-color: #FFFCFF;
	border: solid #F7F4FE 7px;
	border-top: none;
	border-bottom: none; 
}

/* CADBOX PROJECT */
#cad-box.cad-box-project .border-top { background: url(../images/box_cadproj_bgtop.gif) repeat-x top left; }
#cad-box.cad-box-project .border-top-left { background: url(../images/box_cadproj_01.gif) no-repeat top left; }
#cad-box.cad-box-project .border-top-right { background: transparent url(../images/box_cadproj_02.gif) no-repeat top right; }
#cad-box.cad-box-project .border-bottom { background: transparent url(../images/box_cadproj_bgbottom.gif) repeat-x bottom left; }
#cad-box.cad-box-project .border-bottom-left { background: transparent url(../images/box_cadproj_03.gif) no-repeat bottom left; }
#cad-box.cad-box-project .border-bottom-right { background: transparent url(../images/../images/box_cadproj_04.gif) no-repeat bottom right; }
#cad-box.cad-box-project .content { 
	background-color: #FAFCFE;
	border: solid #DDF0FB 7px;
	border-top: none;
	border-bottom: none; 
}

/*CADBOX COMMUNITIES*/
#cad-box.cad-box-community .border-top { background: url(../images/box_cad_comunidade_bgtop.gif) repeat-x top left; }
#cad-box.cad-box-community .border-top-left { background: url(../images/box_cad_comunidade_01.gif) no-repeat top left; }
#cad-box.cad-box-community .border-top-right { background: transparent url(../images/box_cad_comunidade_02.gif) no-repeat top right; }
#cad-box.cad-box-community .border-bottom { background: transparent url(../images/box_cad_comunidade_bgbottom.gif) repeat-x bottom left; }
#cad-box.cad-box-community .border-bottom-left { background: transparent url(../images/box_cad_comunidade_03.gif) no-repeat bottom left; }
#cad-box.cad-box-community .border-bottom-right { background: transparent url(../images/../images/box_cad_comunidade_04.gif) no-repeat bottom right; }
#cad-box.cad-box-community .content { 
	background-color: #FBFBEC;
	border: solid #F0F0D3 7px;
	border-top: none;
	border-bottom: none; 
}

/*CADBOX PEOPLE*/
#cad-box.cad-box-people .border-top { background: url(../images/box_cad_pessoas_bgtop.gif) repeat-x top left; }
#cad-box.cad-box-people .border-top-left { background: url(../images/box_cad_pessoas_01.gif) no-repeat top left; }
#cad-box.cad-box-people .border-top-right { background: transparent url(../images/box_cad_pessoas_02.gif) no-repeat top right; }
#cad-box.cad-box-people .border-bottom { background: transparent url(../images/box_cad_pessoas_bgbottom.gif) repeat-x bottom left; }
#cad-box.cad-box-people .border-bottom-left { background: transparent url(../images/box_cad_pessoas_03.gif) no-repeat bottom left; }
#cad-box.cad-box-people .border-bottom-right { background: transparent url(../images/../images/box_cad_pessoas_04.gif) no-repeat bottom right; }
#cad-box.cad-box-people .content { 
	background-color: #FFF5F5;
	border: solid #FFDCDF 7px;
	border-top: none;
	border-bottom: none; 
}