/* CSSs referentes a Comunidades */
.titcomunidade {
	font-size:150%;
	line-height: 20px;
	color: #666633;
}

.txttitcomunidade {
	font-size:140%;
	line-height: 20px;
	color: #B6B640;
	display: block;
	padding-top: 7px;
	margin-left: 55px;
}

a.boxlinkcomun {
	line-height: 20px;
	color: #666633;
	text-decoration: underline;
}

.boxcomunidade {
	border: 2px solid #C6C67A;
}

/* REFERENTE AS LISTAGENS */
#thumb { 
	border: #E2E24F solid;
}

#communitiy_list { 
	border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#community_list A { 
	color: #666600;
}

.community_list_line { 
	height: 90px;
}

.community_list_line TD { 
	padding: 0px;
    border-spacing: 0px;
    border: 0px;
}

#community_list_2 { 
	background-color: #FBFADC;
}

#community_list BUTTON { 
	background-color: white;
	border: 2px #F0F0D3 solid;
}

.community_add_news {
	line-height: 20px;
    color: #CC9966;
    text-decoration: none;
}
					  
.community_view_news { 
	line-height: 20px;
    color: #CC9966;
    text-decoration: underline;
}

.community_items { 
	background-color : #fafaf8;
    border : 2px solid #C6C67A;
    height : 52px;
    width : 80px;
    text-align : center;
    position : relative;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.community_items:hover  { 
	background-color: #fafaea; 
    border: 2px solid #e2e24f;
    height: 52px;
    width: 80px; 
    text-align: center;
    position:relative;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}
