/* DIARY MAIN */

.titpost {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #76769C;
  text-decoration: none;
}

.datapost {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
 color: #ABABE2;
}

.diariy_box {
 border: 2px solid #4074AE;
}

.diary_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
 color: #4074AE;
}

#diary_header_text { 
                     font-family: Arial, Helvetica, sans-serif;
                     font-size: 14px;
                     line-height: 20px;
                     color: #4074AE;
                     }

.diariy_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
 color: #76769C;
}

#diary_header_picture IMG { 
                            border: 2px solid #4074AE;
                            }

#diary_header A {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 22px;
  color: #4074AE;
  text-decoration: underline;
  
}


/* COMMENTS */

.diary_comment { 
                 padding:0px;
                 position: relative; 
                 top: 0px; 
                 left: 0px; 
                 margin: 0px;
              }

.diary_comment table { 
                       width:70%;
                       }

.diary_comment textarea { 
                          width:100%;
                          }

.diary_comment div{ 
                    position: relative; 
                    top: 6px;
                    margin-bottom:12px;
                    color: #333399; 
                    FONT-SIZE: 11px;
                    }

.diary_comment TD{ 
                    position: relative; 
                    top: 6px;
                    margin-bottom:12px;
                    color: #333399; 
                    FONT-SIZE: 11px;
                    }


.diary_comment div#submit { 
                            position: relative; 
                            align: center;
                            margin:20px;
                            }

.diary_comment img#diary_comment_ico {  
                         float: left;
                         margin-right: 0;
                         padding-right: 5px;
                     }
            

.diary_comment_link img {
                     padding-left: 4px;
                     }


A.diary_comment { 
                  font-family: verdana, Helvetica, sans-serif;
                  font-size: 10px;
                  line-height: 22px;
                  font-weight: bold;
                  color: #7070FF;
                  }

A.diary_edit { 
               font-family: verdana, Helvetica, sans-serif;
               font-size: 10px;
               line-height: 22px;
               font-weight: bold;
               color: #FF6699;
               text-decoration: none;
               }



/* LISTAGENS DO DIARIO */

#thumb { 
         border: #4074AE solid;
         }

#diary_list { 
               border-collapse: collapse;
               text-align: center;
               width: 100%;
               }

#diary_list A { 
                 color: #993333;
                 }

.diary_list_line { 
                height: 90px;
                }

.diary_list_line TD { 
                   padding: 0px;
                   border-spacing: 0px;
                   border: 0px;
                   }


#diary_list_2 { 
                 background-color: #FFFCFC;
                 }
