.messageSender {
                 font: 1.0em Arial, Helvetica, sans-serif;
                 background-color: #F5F5FE;
                 }

.messageRecipient {
                    font: 1.0em Arial, Helvetica, sans-serif;
                    background-color: #FFF;
                    }

