#icon-table { 
              display: table;
              }

#icon-line { 
             display: table-row;
             }
#icon-table A { 
                   margin-left: 17px;
                   }

#icon-el { 
           display: table-cell;
           width: 70px;
           text-align: center;
           padding: 0 4px 0 4px;
           }

#icon-space { 
              display: table-cell;
              width: 10px;
              }

/* #icon-image {  } */

/* #icon-legend {  } */
