.quote, .author, .summary, .metadata, .note {
	margin: 20px;
   	padding: 10px;
   	color: #111;
	background: #eee;
}

.author { background: #dfd; }
.summary { background: #ffd; font-style: italic; }
.metadata { background: #fdd; }
.note { background: #ddf; }
.table { background: #fdf; }

.section, #jsCrossMark_editArea {
	margin: 3px;
	padding: 2px;
   	border: #ddd 1pt solid;
}

#result img, #preview_result img {
	max-width: 400px;
	border: #CCC solid 2px;
	padding: 5px;
	-moz-border-radius: 0.8em;
}

#result table th, #preview_result table th {
	background: #DDD;
}

ul#jsCrossmark_actionBar {
	margin-left: 5px;
	margin-bottom: -3px;
	text-align: right;
}

ul#jsCrossmark_actionBar li {
	display: inline;
	border: dashed gray 0px;
	border-bottom: 1px;
	background: #DDD;
	padding: 5px 5px 0px 5px;
	text-align: center;
	-moz-border-radius: 0.5em 0.5em 0 0;
}

#txtarea {
	border: solid gray 1px;
	width: 90%;
}

table#wiki-history{
	width: 99%;
}

.row1 {
	background: #DDD;
}

.row2 {
	background: transparent;
}

#Wiki_insertImageWindow {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 400px;
	height: 300px;
	background: #FFF;
	border: solid #EEE 1px;
	-moz-border-radius: 0.7em;
}

#Wiki_insertImageWindow .close-button {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}