/* CSSs referentes a Pessoas */
.people-title {
	font-size:140%;
	line-height: 20px;
    text-decoration: none;
    color: #BC2C2C;
	display: block;
	padding-top: 7px;
	margin-left: 55px;
}

a.people_blog_entry { 
	color: #666666; 
    font-weight: bolder;
    line-height : 25px;
    text-decoration: underline;
}

a.people_blog_entry:hover { 
	color: #366666; 
}


/* LISTS IN PEOPLE */
#thumb { 
	border: #BC2C2C solid;
}

#people_list { 
	border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#people_list A {
	color: #993333;
}

.people_list_line {
	height: 90px;
}

.people_list_line TD {
	padding: 0px;
    border-spacing: 0px;
    border: 0px;
}

#people_list_2 {
	background-color: #FFFCFC;
}

#people_list BUTTON {
	background-color: #FFFCFC;
    border: 2px #FFDCDF solid;
	height: 40px;
	margin: 10px;
	padding: 10px;
}