.project_box {
	border: 2px solid #80BAC9;
}

.project-title {
	font-size: 140%;
	line-height: 20px;
	color: #80BAC9;
	display:block;
	padding-top: 7px;
	margin-left: 55px;
}


.project_comment { 
	color: #666666;
	line-height: 14px;
}

A.project_comment {
	color: #008CAF;
}

A.project_comment:hover {
	color: #3399FF;
}

.project_news {
	color: #666666;
	line-height: 14px;
}

A.project_news { 
	color: #336699;
}


A.project_news:hover {
	color: #3399FF;
}


#thumb {
	border: 2px solid #80BAC9;
}

#project_list {
	border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#project_list A { 
	color: #80BAC9;
}

.project_list_line  { 
	height: 90px;
}

.project_list_line_int {
	height: 50px;
}

.project_list_line TD {	
	padding: 0px;
    border-spacing: 0px;
    border: 0px;
}

.txttitproj { 
	font-size: 170%;
    line-height: 20px;
    color: #80BAC9;
}

#project_list_2 {
	background-color: #FFFCFC;
}

#project_list BUTTON {
	background-color: white;
    border: 2px #DDF0FB solid;
}

.project_items {
	background-color : #ffffff;
	border : 2px solid #dbf4ff;
    height : 52px;
    width : 80px;                 
    text-align : center;
    position : relative;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.project_items:hover  { 
	background-color: #e2f6ff; 
    border: 2px solid #DBF4FF;
    height : 52px;
    width : 80px;                 
    text-align: center;
    position:relative;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

/*Botao da pagina*/
/*IE*/
BUTTON#page { background-image: url("../images/icon_page_on.gif"); background-color: #e2f6ff; }

BUTTON#page[class~=project_items] { background-image: url("../images/icon_page_off.gif"); background-color: #ffffff; }
BUTTON#page[class~=project_items]:hover { background-image: url("../images/icon_page_on.gif"); background-color: #e2f6ff; }

/*botao do diario */
/*IE*/
BUTTON#diary { background-image: url("../images/icon_diario_on.gif"); background-color: #e2f6ff; }

BUTTON#diary[class~=project_items] { background-image: url("../images/icon_diario_off.gif"); background-color: #ffffff;  }
BUTTON#diary[class~=project_items]:hover { background-image: url("../images/icon_diario_on.gif"); background-color: #e2f6ff; }

/*botao dos foruns*/
/*IE*/
BUTTON#forum { background-image: url("../images/icon_forum_on.gif"); background-color: #e2f6ff; }

BUTTON#forum[class~=project_items] { background-image: url("../images/icon_forum_off.gif"); background-color: #ffffff; }
BUTTON#forum[class~=project_items]:hover { background-image: url("../images/icon_forum_on.gif"); background-color: #e2f6ff; }

/*botao dos chats*/
/*IE*/
BUTTON#chat { background-image: url("../images/icon_chat_on.gif"); background-color: #e2f6ff; }

BUTTON#chat[class~=project_items] { background-image: url("../images/icon_chat_off.gif"); background-color: #ffffff; }
BUTTON#chat[class~=project_items]:hover { background-image: url("../images/icon_chat_on.gif"); background-color: #e2f6ff; }

/*Botao do wiki*/
/*IE*/
BUTTON#wiki { background-image: url("../images/icon_wiki_on.gif"); background-color: #e2f6ff; }

BUTTON#wiki[class~=project_items] { background-image: url("../images/icon_wiki_off.gif"); background-color: #ffffff; }
BUTTON#wiki[class~=project_items]:hover { background-image: url("../images/icon_wiki_on.gif"); background-color: #e2f6ff; }


.project_items_text { 
	color: #018AAE;
	line-height: 14px;
    display: block;
	text-align: center;
	width: 100%;
    position: relative;
}

.project_list_subtitle{ 
	color: #57a2c3;
    line-height: 14px;
    text-align: left;
    font-weight: bold;
}


/* CSSs Agregador Projetos */
/* CSSs Diario Projetos */

.boxdiarioproj {
	border: 2px solid #0076A2;
}

.titdiarioproj{
	font-size: 160%;
	line-height: 20px;
	color: #0076A2;
	font-weight: bold;	
}
.txtdiarioproj{
	line-height: 18px;
	color: #066FA6;
}

a.filtro{

	line-height: 18px;
}

a.filtro#on{
	color: #066FA6;
	text-decoration: underline;	
}
a.filtro#off{
	color: #8E9EA6;
	text-decoration: none;	
}

.font_rss{
	line-height: 22px;
	color: #066FA6;
}

.palavras_filtro{
	line-height: 22px;
	color: #FF6600;
	text-decoration: underline; 
}
   
.box_add_rss{
    border: 1px solid #ADBEFC;
    background-color: #F8FBF8;
    width: 300px;
    height: 50px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #008B0D;
 }