@CHARSET "UTF-8";
* {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: .9em;*/
}
   body {
   	margin: 0px;
	height: 100%;
	background: #FFFFFF url(../images/xo/background.png) repeat-x top;
	border: none;
   }

.banner {
	height: 150px;
}

.menu {
	padding-left: 15px;
	padding-top: 12px;
}

#menu_items, #menu a { margin: 0px; padding: 0px; }
#menu a { border: none; }
#menu_items li { list-style: none; display:inline; }
#menu_items li img { width: 55px; }

#main_content { padding-left: 5px; margin-top: -75px;}
.logo { 
	position: absolute; 
	right: 2%; 
	top: 25px;
}

img { border: none; }

.footer { 
	background: url(../images/xo/footer_bkg.png) repeat-x; 
	height: 50px; 
}

#overlay { 
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: #000000;
	-moz-opacity: 0.8;
}

#dashboard {
	position: absolute;
	top: 50%;
	margin-top: -174px;
	left: 50%;
	margin-left: -270px;
	z-index: 2000;
}

#loginbox {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	z-index: 3000;
}

/*DASHBOARD CSS*/


#close-button {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 1000;
}

/*project box*/
#project_box .top {
	background: url(../images/xo/dashboard/top_projects.png) no-repeat;
	width: 380px;
	height: 7px;
}

#project_box .bottom {
	background: url(../images/xo/dashboard/bottom_projects.png) no-repeat;
	width: 380px;
	height: 7px;
	margin-bottom: 3px;
}

#project_box .db-title {
	background: #A3D8E8;
	width: 380px;

}

#project_box .title { color: #007FB6; }

.db-title img {
	margin-left: 10px;
	cursor:hand;
	cursor:pointer;
}

.db-title div.title {
	float:left;
	margin-left: 60px;
	margin-top: -27px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	cursor:hand;
	cursor:pointer;
}

.db-content {
	padding: 5px 10px 5px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.db-content ul {
	margin: 0px;
	padding: 0px;
}

.db-content ul li {
	list-style: none;
	}

.db-content ul li a {
	text-decoration: none;
}

/*friends*/
#friends_box .top {
	background: url(../images/xo/dashboard/top_friends.png) no-repeat;
	width: 380px;
	height: 7px;
}

#friends_box .bottom {
	background: url(../images/xo/dashboard/bottom_friends.png) no-repeat;
	width: 380px;
	height: 7px;
	margin-bottom: 3px;
}

#friends_box .db-title {
	background: #E8B1A3;
	width: 380px;

}
#friends_box .title { color: #CC3300; }

/*communities*/
#community_box .top {
	background: url(../images/xo/dashboard/top_community.png) no-repeat;
	width: 380px;
	height: 7px;
}

#community_box .bottom {
	background: url(../images/xo/dashboard/bottom_community.png) no-repeat;
	width: 380px;
	height: 7px;
	margin-bottom: 3px;
}

#community_box .db-title {
	background: #E8E8A3;
	width: 380px;

}
#community_box .title { color: #999966; }
#db-menu .top {
	background: url(../images/xo/dashboard/top_myactions.png) no-repeat;
	width: 90px;
	height: 10px;

}

#db-menu .bottom {
	background: url(../images/xo/dashboard/bottom_myactions.png) no-repeat;
	width: 90px;
	height: 10px;

}

#db-menu {
	position: fixed;
	top: 10%;
	right: 10%;
}
#db-menu .db-content {
	background-color: #969FB5;
	width: 90px;
	padding: 10px 0 5px 0;
}

#db-menu .db-content img {
	margin-left: 5px;
}

#db-menu .db-content h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
}
.db-blog-title, .db-blog-title a, .db-blog-title a:visited { color: #8C5D8C; text-decoration:none; }
.db-library-title, .db-library-title a, .db-library-title a:visited { color: #775AC1; text-decoration:none; }
.db-album-title, .db-album-title a, .db-album-title a:visited { color: #006DAF; text-decoration:none; }