BODY {
  margin: 0px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #666666;
       
  background-image: url("../images/bg_linhas_lateral2.gif");
  background-repeat: repeat-y;
  background-position: right;
  background-color: #FFFFFF;
  }


BODY IMG { 
  border: 0px;
  }

.admin_items  { 
  /* background-color: #E2F6FF; QUANDO TIVER COM O MOUSE EM CIMA*/
  background-color: #FFFCFC;                        
  border: 2px #71A4AF solid;
  height: 48px;
  width: 48px; 
  text-align: center;
  }
/* MAIN MENU */

#amadis-logo { 
  position: absolute;
  left: 2px;
  z-index: 20;
/*   visibility: hidden; */
  }

#amadis-header { 
  position: relative;
  top: 0px;
  margin-left: 206px;
  background-image: url("../images/bg_header_2.jpg");
  height: 108px;
  padding: 0px 0px 0px 30px;
  z-index: 19;
  }

#amadis-header-menu { 
  position: relative;
  bottom: 14px;
  }
  
#amadis-header-menu .menuitems {
  position: relative;
  top: 16px;
  left: -10px;
  }
  
#amadis-header-line { 
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  }

#nav-menu { 
  position: relative;
  /* top: 131px; */
  top: 238px;
  left: 19px;
  width: 197px;
  /* border:solid thin red; */
  z-index:10;
  }
  
#column-one {  
  position: relative;
  float: left;
  background-image: url("../images/pecas_amadis_2.png");
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: #f3f3f6;
  width: 187px;
  background-repeat: no-repeat;
  }
  
/* #content-column { */
/*   position: relative; */
/*   margin-top: 10px; */
/*   margin-right: 7px; */
/*   border: solid thin red; */
/*   } */
  

#content { 
  position: relative;
  top: 110px;
  height: 100%;
  padding-left: 230px;
  margin-right: 10px;
  z-index:9;
  background: url("../images/img_dot_blue.gif") repeat-y;
/*    border: solid thin red;  */
  }
  
#footer-menu { 
  position: absolute;
  bottom: -20px;
  }
  
#orange-line { 
  position: relative;
  display:inherit;
  }
  
#dashed-line { 
  background-image: url("../images/bg_linha_dots.gif");
  background-repeat: repeat-x;
  height: 7px;
  width: 100%;
  }

#amadis-global-wrapper { 
  position: relative;
  top: -108px;
  background: url("../images/img_dot_blue.gif") repeat-y;
  }

#amadis-footer { 
  display:none;
  position: absolute;
  height: 50px;
  bottom:0px; !important
  background: url("../images/img_dot_blue.gif") repeat-y;
  /* border: solid red thin; */
  }


.portlet-line { 
  /* z-index: 30; */
  }

.portlet { 
  position: relative;
  top: -25px;
  padding: 0px;
  margin-left: 6px;
  margin-right: 2px;
  } 


.error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  }

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  }

.mnlateral {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #007FA0;
  left: 3px;
  position: relative;
  }
  
.progress_realcado {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 20px;
  color: #19669E;
  font-weight: bold;
  }

.txttitproj { 
              font-family: Arial, Helvica, sans-serif;
              font-size: 20px;
              line-height: 20px;
              color: #80BAC9;
              }

.progress_normal {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 20px;
  color: #6BB9F2;
  font-weight: bold;
  }

#logout_button { 
  border: none;
  background-color: transparent;
  float: right;
  }


.small_list IMG#thumb  { 
  border: 2px solid #d9ccff;
  margin-right: 4px;
  }
  

/* used for the user photo */
.user-image TABLE {
  margin-left: 10px; 
  margin-right: auto;
  }
  

/* button that should apear like links */
.button-as-link { 
  width: 75px;
  height: 50px;
  margin: 3px;
  padding: 1px;
  font-size: 11px;
  cursor: pointer;
  cursor: hand;
  }

.image-button { 
  background: none;
  border: none;
  }
  
.image-as-link { 
  cursor: pointer;
  cursor: hand;
  }
  

/* UNIFICAR NO FUTURO */
/* Texts- AND LINKS */
a.bluebox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #3466D1;
  text-decoration: underline;
  left: 5px;
  position: relative;
  }

.textobox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #666666;
  left: 5px;
  position: relative;
  }


.texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #666666;
  }

.box {
  border: 2px solid #6699FF;
  }
  
  
a.blue {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #3466D1;
  text-decoration: underline;
  }

a.green {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #009999;
  text-decoration: underline;
  }
  
/* link box - marrom */
a.marrom:link {
  text-decoration: none;
  color: #CC9966;
  font-family: Arial; 
  font-size: 11px;
  line-height : 20px;
  position: relative;
  }

a.marrom:visited {
  text-decoration: none;
  color: #CC9966; 
  font-family: Arial;
  font-size: 11px;
  line-height : 20px;
  position: relative;
  }

a.marrom:active {
  text-decoration: none;
  color: #CC9966;
  font-family: Arial;
  font-size: 11px;
  line-height : 20px;
  position: relative;
  }

a.marrom:hover {
  text-decoration: underline;
  color: #CC9966;
  font-family: Arial;
  font-size: 11px;
  line-height : 20px;
  position: relative;
  }

a.cinza:link {
  font-size: 11px;
  line-height : 20px;
  position: relative;
  text-decoration: none;
  color: #666666;
  font-family: Arial;
  }

a.cinza:visited {
  font-size: 11px;
  line-height : 20px;
  position: relative;
  text-decoration: none;
  color: #666666;
  font-family: Arial;
  }

a.cinza:active {
  font-size: 11px;
  line-height : 20px;
  position: relative;
  text-decoration: none;
  color: #666666;
  font-family: Arial;
  }

a.cinza:hover {
  font-size: 11px;
  line-height : 20px;
  position: relative;
  text-decoration: underline;
  color: #3666666;
  font-family: Arial;
  }

.persona_03 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #E1F7F9;
  background-color: #FFCB27;
  padding: 7px;
  font-family: verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  }

.persona_04 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #E1F7F9;
  background-color: #FFEE5E;
  padding: 7px;
  font-family: verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  }
               
.persona_05{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #E1F7F9;
  background-color: #FFEE5E;
  padding: 7px;
  font-family: verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  }               

.persona_06 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #E1F7F9;
  background-color: #FAF8FA;
  padding: 7px;
  font-family: verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  }


.menuitems{
  padding-left:10px;
  padding-right:10px;
  }

.textoint {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #666666;
  }
  
.webfolio_forum A { 
  text-decoration: none; 
  color: #666666; 
  font-family: Arial;	
  font-size: 11px; 
  line-height : 20px; 
  position: relative;
  }
  

.webfolio_forum A:hover { 
  text-decoration: underline;
  }
  
  
.webfolio_forum_new A { 
  text-decoration: none; 
  color: green; 
  font-family: Arial;	
  font-size: 11px; 
  line-height : 20px; 
  position: relative;
  }


.webfolio_forum_new A:hover { 
  text-decoration: underline;
  }

.logon select{ 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333366;
  border: thin solid #DDD7EE;
  background-color: #E8E7EF;
  width:130px;
  margin-right: 0;
  }

.btsair { 
  margin-right: 20;
  margin-top: 5;
  }

#logout_button { 
  border: none;
  background-color: transparent;
  float: right;
  }

.user_ico {
  cursor: pointer;
  }

/* CSSs referentes ao Upload */
.titupload { 
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  line-height: 22px;
  color: #2171B6;
  }

.imgtitupload { 
  width:70px;
  border: thin solid #2171B6;
  margin-left: 12px;
  }
                
.subtitupload { 
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight: bold; 
  line-height: 20px;
  color: #fff;
  }

.cursor { 
  cursor: pointer;
  }
