/* finder css */
/* div#finder { color: #ffffff; letter-spacing: 10.5em } */
#finderAlert { 
               position: fixed;
               top: 0px;
               right: 20px;
               display: table;
               }

#sendbox_window { 
                  margin: 0px;
                  }
IFRAME { 
         border: thin black 0px;
         }
