.response-button IMG { 
                   margin: 10px;
                   cursor: pointer;
                   cursor: hand;
                   }


#request-group-box { 
                     display: inline-block;
                     }

#group-table { 
               display: table;
               border: thin dashed green;
               }

#accept-box  { 
               display: none;
               }

#reject-box  { 
               display: none;
                }

.response-box { 
                display: none;
                float: right;
                }                   

.response-button TD { 
                      text-align: right;
                      float: right;
                      }

.response-box BUTTON { 
                       border: 0px;
                       background: transparent;
                       }

.group-buttons { 
                 float: right;
                 }